<a href="https://colab.research.google.com/github/ltoosaint24/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/demo_data_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3
import numpy as numy
import pandas as pd
import random

In [3]:
con = sqlite3.connect('/content/demo_dat.sqlite3')

In [8]:
cur = con.cursor()
cur.executescript("""CREATE TABLE demo(s,x,y);""")

OperationalError: ignored

In [9]:
cur.executescript("""INSERT into demo(s,x,y)
              values('g',3,9),
              ('v',5,7),
              ('f',8,7);""")
con.commit()
cur.close

In [17]:
coy = con.cursor()
row_count = coy.execute("SELECT COUNT(*) FROM demo")
print(coy.fetchall())

[(3,)]

In [19]:

coy.execute('SELECT COUNT(*) FROM demo WHERE x >5 and y >5 ')
xy_at_least_5 =coy.fetchall()
print(xy_at_least_5)

[(1,)]

In [20]:
coy.execute('SELECT COUNT(DISTINCT y) FROM Demo')
unique_y = coy.fetchall()
print(unique_y)

[(2,)]